.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .example-form {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  .container {
      padding-top: 10px;
  }

  .div-input {
      padding: 0 20px 20px 20px;
  }

  .buttons {
      margin-left: auto;
      margin-right: auto;
  }

  table {
    width: 100%;
  }

  .center {
      text-align: center;
  }